---
const naviText = ['ホーム','概要', 'ブログページ', 'タグの一覧']
---
<div class="nav-links">
    <ul>
        <li>
            <a href="/">{naviText[0]}</a>
        </li>
        <li>
            <a href="/about/">{naviText[1]}</a>
        </li>
        <li>
            <a href="/blog/">{naviText[2]}</a>
        </li>
        <li>
            <a href="/tags/">{naviText[3]}</a>
        </li>
    </ul>
</div>